.all-content{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.page-heading{
    margin-bottom: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.add-btn{
    width: fit-content;
}
.action{
    padding: 0 5px 0 5px !important;
}
footer{
    width: 100%;
    background-color: darkseagreen;
    height: 100px;
}